<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pedidos | App</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Pedido Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link " href="/">lista de pedidos <span
                                class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="/add">agregar un pedido</a>
                        <a class="nav-item nav-link active" href="/tareas">tareas</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4">
                    <div id="alert">
                       
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Fecha de los pedidos
                        </div>
                        <div class="card-body">

                            <div class="input-group">
                                <input type="text" id="tareas" class="form-control mx-1" placeholder="AAAA-MM-DD">
                                <button type="submit" class="btn btn-info" id="boton">Obtener</button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <h4 class="">Lista de cliente por entregar pedido por fecha </h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">nombre</th>
                                <th scope="col">apellido</th>
                                <th scope="col">email</th>
                                <th scope="col">telefono</th>
                                <th scope="col">direccion</th>
                                <th scope="col">hora_entrega</th>
                            </tr>
                        </thead>
                        <tbody id="resultado">


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js"></script>
    <script>
        document.getElementById('boton').addEventListener('click', (e) => {
            e.preventDefault();
            const tareas = document.getElementById('tareas').value;
            var resultado = document.getElementById('resultado')
            let tasks = [];
            resultado.innerHTML =""
             if(tareas === ""){
                document.getElementById('alert').innerHTML=
                `
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                   El campo no puede estar el vacio
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>  
                `
             }else {
                axios.get('http://localhost:4000/api/pedidos/' + tareas).then(res => {
                tasks = res.data;
                for (task of tasks) {
                    resultado.innerHTML +=
                        `
                <tr>
                    <th scope="row">${task.id}</th>
                    <td>${task.nombre}</td>
                    <td>${task.apellido}</td>
                    <td>${task.email}</td>
                    <td>${task.telefono}</td>
                    <td>${task.direccion}</td>
                    <td>${task.hora_entrega}</td>
                 </tr>
                `;
                }
                document.getElementById('tareas').value=""
            })
             }
            
        })
    </script>

</body>

</html>